<div class="container">
<h1 class="text-center" style="font-family: verdana; font-size: 20px;"> Nuevo Producto</h1> </br></br>
</div>

<%= render 'form' %>

<%= link_to 'Back', designs_path, class: 'btn btn-default' %>
