<h1 class="text-center">Contactos</h1>  </br>
<table class="text-justify text-center table"> 
	<thead>
			<th>Nombre</th>
			<th>Correo</th>
	</thead>
	<tbody>
		<tr>
			<td>Samuel Veizaga Sanchez</td>
			<td>samuel-vs6@hotmail.com</td>
		</tr>
		<tr>
			<td>Mauricio Rios Valverde</td>
			<td>mauri.96.rv@gmail.com</td>
		</tr>
		<tr>
			<td>Alan Cáceres Molina</td>
			<td>alansamir96@gmail.com</td>
		</tr>
		<tr>
			<td>Jorge Mazuelo Aranibar</td>
			<td>dugboy14182@gmail.com</td>
		</tr>
	</tbody>
</table>