<div class="jumbotron container">
    <h1 class="text-center" style="font-family: verdana; font-size: 40px;"> Bienvenidos a Kmoda</h1>
    <div class="text-center">
        <%= image_tag 'k copia.png' %>
    </div>
    <div class="btn-group-horizontal text-center" >
        <a href="/clients" class="btn btn-lg btn-success" >Clientes</a>
        <a href="/products" class="btn btn-lg btn-info" >Productos</a>
        <a href="/materials" class="btn btn-lg btn-warning" >Materiales</a>
        <a href="/designs" class="btn btn-lg btn-primary" >Diseños</a>
        <a href="/sales" class="btn btn-lg btn-danger" >Ventas</a>
    </div>
</div>