<div class="container">
<h1 class="text-center" style="font-family: verdana; font-size: 20px;"> Nuevo Material</h1> </br></br>
</div>
<div class="text-center">
<%= render 'form' %>

<%= link_to 'Atras', materials_path, class: 'btn btn-default'%>
</div>