<div class="container">
<h1 class="text-center" style="font-family: verdana; font-size: 20px;"> Nueva Venta</h1> </br></br>
</div>
<div class="container">
    <%= render 'form' %>

    <%= link_to 'Atras', sales_path, class: 'btn btn-default' %>
</div>